/** {
  font-family: 'Nunito Sans', sans-serif;
}*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");

body {
  font-family: "Nunito Sans", sans-serif !important;
  color: #333;
  width: 100%;
}

i {
  ​​​font-family: "FontAwesome";
}

​​​ p {
  font-size: 16px;
  line-height: initial;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #009688;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #1f449b;
}

.content-section {
  padding: 40px 0px;
  /* background: rgb(80 80 80 / 5%); */
}

.services-section,
.management-system-section {
  /* background-color: #ececec; */
}

.content-title {
  padding-bottom: 20px;
}

.content-title h6 {
  font-size: 24px;
  font-weight: 600;
}

.content-title h2 {
  font-size: 40px;
  font-weight: 800;
  color: #333;
}

.content-title span {
  color: #009688;
  font-weight: 700;
  font-size: 65px;
}

.content-title p {
}

.btn-primary {
  border: 1px solid #009688;
  border-radius: 50px;
  font-size: 14px;
  padding: 15px 20px;
  /* background-image: linear-gradient(
90deg
, #009688, #1f449b21); */
  background-color: #009688;
  font-weight: normal;
  border: 1px solid #fff;
}

.btn-primary:hover {
  background: #007bff;
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  color: #009688;
}

.text-primary {
  color: #007bff !important;
}

.text-danger {
  color: #dc3545 !important;
}

/* -------------------------------------------
header-part
-------------------------------------------- */

.navbar-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar {
  background-color: transparent;
}

.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-all {
  width: 100%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page-logo {
  height: 60px;
}

.page-logo img {
  height: 100%;
  object-fit: cover;
}

.header-items {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 800;
  color: #333;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
}

/* -------------------------------------------
body-part hero section
-------------------------------------------- */

.top-message {
  background: #00968824;
  padding: 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-message p {
}

.top-message a,
i {
  color: #009688;
}

.lower-header {
  padding-top: 80px;
}

.background-image {
  background-image: url("src/assets/images/banner-bg.svg");
  background-repeat: no-repeat;
  background-position: right -75px;
  background-size: 47%;
}

.hero-section {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% center;
  /* height: 90vh; */
}
.content-section.hero-section {
  padding-top: 150px !important;
  padding-bottom: 70px !important;
}
.banner-content h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 52px;
}

.banner-content h1 span {
  color: #009688;
}

.banner-content p {
  font-size: 17px;
  font-weight: 600;
}

.banner-content p span i {
  /* color: #009688; */
}

.hero-list {
}

.hero-list ul {
  font-size: 17px;
  font-weight: 600;
  list-style: none;
  padding-left: 10px;
}

.hero-list ul li {
  padding: 3px 0px;
  position: relative;
  padding: 3px 0px 3px 26px;
}

.hero-list ul li i {
  margin-right: 8px;
  font-size: 17px;
  position: absolute;
  top: 8px;
  left: 0;
}

.hero-list ul li::marker {
  color: #009688;
}

.hero-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  padding: 80px;
}

.hero-image img {
  object-fit: cover;
  height: 100%;
}

.hero-signup-form {
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  max-width: 400px;
  margin: 0 0 0 auto;
}

.hero-signup-form h2 {
  font-size: 26px;
  font-weight: 700;
}

.hero-signup-form h2 span {
  color: #009688;
}

.form-check-label {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.hero-signup-form .form-group {
  position: relative;
}

.hero-signup-form .form-group i {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 14px;
  margin-top: -8px;
  color: #0096889c;
}

.hero-signup-form .form-control {
  padding-left: 36px;
}

.form-control {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  /* border-left: 3px solid #1f449b; */
}

.form-control:focus {
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
}

.email-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submit-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-final a {
  font-size: 14px;
}

/* -----------------------------------
features
---------------------------------- */

.feature-section {
  /* background: url(../image/banner-bg.png) no-repeat, #fff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
    padding: 65px 0px;
    margin: 0px; */
  /* background-color: rgb(0 0 0 / 4%); */
  background-image: url("src/assets/images/feature-bg.svg");
  background-repeat: no-repeat;
  background-position: left 0px;
  background-size: 60%;
}

.feature-wrapper {
}

.feature-wrapper .feature-list {
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  border-radius: 10px;
  padding: 30px 30px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.feature-list:hover {
  cursor: pointer;
}

.feature-wrapper .feature-list h6 {
  font-size: 17px;
  font-weight: 700;
}

.feature-wrapper .feature-list .feature-icon i {
  background: rgb(0 0 0 / 3%);
  padding: 13px;
  border-radius: 5px;
}

.feature-img {
  max-width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
}

.feature-img img {
  height: 100%;
  object-fit: cover;
}

.feature-list:hover .know-more a i {
  position: relative;
  left: 15px;
  cursor: pointer;
}

.know-more a i {
  left: 0;
  transition: all 0.5s ease-in-out;
}

.reason-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 360px;
  overflow: hidden;
  height: 280px;
  width: 280px;
}

.reason-image img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.feature-image {
  height: 200px;
}

.feature-image img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

/* --------------------------------
why swaste palika
------------------------------- */
.feature-why {
  background-image: url("src/assets/images/banner-bg.png");
  background-repeat: no-repeat;
  background-position: 80% -40px;
  background-size: 40%;
}

.reason-list {
}

.reason-list ul {
  list-style: none;
  line-height: 36px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.reason-list ul li i {
  font-size: 14px;
  margin-right: 6px;
}

/* item */

.item {
  padding: 0 9px;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
}

/* --------------------------------------
footer
-------------------------------------- */

footer.hamro-danphe-footer {
  padding-top: 50px;
  padding-bottom: 25px;
}

footer.hamro-danphe-footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

footer.hamro-danphe-footer p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 30px;
}

footer.hamro-danphe-footer .form-control {
  background: #e8f2f3;
  height: 50px;
  border: none;
}

footer.hamro-danphe-footer ul {
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
}

footer.hamro-danphe-footer li p span {
  font-weight: 700;
  display: block;
  font-size: 13px;
}

footer.hamro-danphe-footer li i {
  margin-right: 10px;
}

footer.hamro-danphe-footer a,
footer.hamro-danphe-footer .bottom-footer p a {
  color: #009688;
  font-weight: 700;
  font-size: 14px;
}

footer.hamro-danphe-footer a i {
  margin-left: 5px;
}

footer.hamro-danphe-footer .bottom-footer {
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding-top: 25px;
}

footer.hamro-danphe-footer .bottom-footer p {
  font-size: 15px;
}

/* responsive */

/* Responsive Css Start */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1100px) {
  .content-section {
    padding: 50px 0px;
  }

  .banner-content h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-list ul {
    font-size: 20px;
  }

  .feature-section {
  }

  .hero-section {
    height: 50vh;
  }
}

@media only screen and (max-width: 992px) {
  .feature-why {
    background: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .content-section {
    padding: 15px 0px;
  }

  .banner-content h1 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 25px;
    margin-top: 50px;
  }

  .hero-list ul {
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
  }

  .hero-signup-form h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .hero-signup-form {
    padding: 40px 10px;
  }

  .submit-final {
    flex-direction: column;
  }

  .submit-final button {
    margin-bottom: 12px;
  }

  .content-title h6 {
    font-size: 18px;
  }

  .content-title h2 {
    font-size: 32px;
  }

  .hero-list ul li i {
    margin-right: 8px;
    font-size: 13px;
  }

  .content-title {
    padding-bottom: 0px;
  }

  .hero-signup-form-large {
    display: none;
  }

  .hero-signup-form-small {
    display: block;
  }

  .hero-section {
    height: auto;
    padding-top: 0;
  }
  .content-section.hero-section {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 576px) {
  .banner-content {
    padding-top: initial;
    padding-bottom: initial;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
