<style>
  button.slick-arrow{
    color: #fff !important;
    z-index: 999 !important;
    background: red !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
  }
</style>

<div id="content-wrapper">
  <div id="home-page">
    <section class="common-banner-section">
      <div class="common-banner-slider">
        <div class="common-banner-container slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" role="listbox" style="opacity: 1; width: 1520px;">
              <div class="banner-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                tabindex="-1" role="option" aria-describedby="slick-slide00"
                style="width: 1520px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                <img src="../../../../assets/img/6a9c11ad72582f58ae75e45856e93596.png" class="banner-image">
                <div class="text-container">
                  <div class="custom-container">
                    <div class="inner">
                      <div class="title">
                        <h1>
                          Dedicated to Wellbeing
                        </h1>
                      </div>
                      <div class="content">
                        <p>
                        </p>
                        <p>Every service we provide will be an experience for you.
                        </p>
                        <p></p>
                        <div class="common-action">
                          <a [routerLink]="[ '/', 'servicepage' ]" class="co-btn type-white" tabindex="0">Check Our
                            Services</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Banner Slider End-->

      </div>
    </section>
    <section class="about-section">
      <div class="custom-container remove-bottom-padding">
        <div class="common-block-container">
          <div class="block-item">
            <div class="image-container">
              <img [src]="aboutUs.imagePath" width="500" height="750" class="ccm-image-block img-responsive bID-45">
            </div>
          </div>
          <div class="block-item">
            <div class="section-title remove-margin">
              <h5>About Us</h5>
              <h2>Dedicated to</h2>
              <h2>Wellbeing</h2>
              <div class="content">
                <div [innerHTML]="aboutUs.content"></div>
                <!-- <p>We Care is a symbol of our founder’s passion for healing. &nbsp;We care
                  has a unique combination of best-in-class technology, put to use by the
                  best names in the professional circles to ensure world-class healthcare
                  to all the patients.
                </p>
                <p>We aim to be Nepal’s premium healthcare institution that combines the
                  best in medical treatment with strong ethical principles and culture of
                  care and compassion.
                </p> -->
                <div class="common-action">
                  <p><a class="co-btn" href="http://wecarehealthcenter.org/about-us">Know
                      More</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="doctor-section">
      <div class="custom-container remove-bottom-padding">
        <div class="common-block-container">
          <div class="block-item">
            <div class="section-title remove-margin">
              <h2>Know about<br>
                Your doctors
              </h2>
              <div class="content">
                <p>We develop health programs that give opportunities to become more
                  efficient and focused on your goals. We&nbsp;Care combines the finest
                  medical minds and advanced technology to provide holistic treatment
                  within a Multi-Disciplinary Framework.
                </p>
                <div class="common-action">
                  <p><a class="co-btn" href="http://wecarehealthcenter.org/find-a-doctor">Know More</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="block-item">
            <div class="image-container" id="doctor-image">
              <img src="../../../../assets/img/pDoc1.png" alt="" width="720" height="1060"
                class="ccm-image-block img-responsive bID-46">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="services-section">
      <div class="custom-container">
        <div class="section-title type-white type-center type-full-width">
          <h5>Our Services</h5>
          <h2>OUR INTERNATIONAL STANDARD FACILITIES</h2>
        </div>
        <div class="services-container">
          <!-- <div class="services-slider-section">
            <div class="services-slider"> -->

          <div class="sliding-part pt-sm-0 pt-md-4">
            <ngx-slick-carousel class="carousel slider" #slickModal="slick-carousel" [config]="slideConfig35"
              (init)="slickInit($event)" style="overflow: visible;">
              <div ngxSlickItem *ngFor="let slide of slides" class="slide module-col-list">
            
                <div class="module-list ">

                  <span class="overflow-hidden" style="    overflow: hidden;
                  width: 90% !important;
                  height: 400px !important;
                  border-radius: 40px !important;
                  border-top-left-radius: 0px !important;">
                  <img src="{{ slide.img }}" [routerLink]="[ '/service', slide.permaLink ]"
                      alt="{{ slide.title }}" width="100%" style="min-height: 100%; min-width: 100%; object-fit: cover;"/></span>
                  <h4 class="px-1 text-white mt-4">{{ slide.title }}</h4>
              
                </div>
            
              </div>
            </ngx-slick-carousel>
          </div>

          <!-- <div class="services-item">
                <div class="services-item-container">
                  <a href="http://wecarehealthcenter.org/service-post/General-and-Specialized-Dental-Services"
                    tabindex="-1">
                    <div class="image-container">
                      <img src="../../../../assets/img/dental_main.jpg" alt="dental_main.jpg" width="1260" height="600">
                    </div>
                    <div class="section-content">
                      <p>General and Specialized Dental Services</p>
                    </div>
                  </a>
                </div>
              </div> -->


          <!-- </div>
          </div> -->
        </div>
      </div>
    </section>
    <!--  <section class="testimonial-section">
               <div class="custom-container">
                   <div class="section-title type-small-margin">
                                                           </div>
               
                   <div class="testimonial-container">
                                       </div>
               </div>
               </section>-->
  </div>

</div>