<div id="content-wrapper" style="">

  <style>
    .service-section .section-title {
      display: none;
    }
  </style>
  <div id="service-page">
    <section class="service-title-section">
      <div class="custom-container remove-bottom-padding">
        <div class="section-title">


          <h5>Best in town</h5>

          <h1>Our Services</h1>

          <!--<div class="content">
                              </div>-->
        </div>

        <div class="section-content">

        </div>
      </div>
    </section>






    <section class="service-section">
      <div class="custom-container remove-top-padding">
        <div class="section-title type-smaller-margin">
          <h6>Services</h6>

        </div>

        <div class="section-content">
          <div class="common-service-container">
            <div class="service-item" *ngFor="let data of servicesList">
              <div class="image-container">
                
                <a [routerLink]="['/service', data.permaLink]">
                  <img [src]="data.imagePath" alt="{{data.serviceName}}" width="1260"
                  height="600"> 
                </a>
              </div>
              <div class="text-container">
                <a [routerLink]="['/service', data.permaLink]">
                <h5>{{data.serviceName}}</h5>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>





</div>