<section class="newsletter-section">
  <div class="custom-container remove-top-bottom-padding">
    <div class="newsletter-container">
      <div class="block-container">
        <div class="block-item">
          <div class="section-title">
            <h4>DROP YOUR PHONE NUMBER<br>
              WE WILL CALL YOU&nbsp;BACK
            </h4>
          </div>
          <div class="content-container">
            <p>We will call you back for your inquires.</p>
          </div>
        </div>
        <div class="block-item">
          <div id="formblock488" class="ccm-block-type-form">
            <form enctype="multipart/form-data" class="form-stacked miniSurveyView" id="miniSurveyView488"
              method="post" action="http://wecarehealthcenter.org/submit_form/488#formblock488">
              <input type="hidden" name="ccm_token" value="1629017747:06f96b0a9978f5eaa860544119dfdd3b">
              <div class="common-form">
                <div class="fields">
                  <div data-placeholder="Phone Number" class="form-group field field-telephone ">
                    <input name="Question7" id="Question7" class="form-control" type="tel" value=""
                      placeholder="Phone Number">
                  </div>
                </div>
                <!-- .fields -->
                <div class="form-action co-btn type-input">
                  <input type="submit" name="Submit" class="" value="Submit">
                </div>
              </div>
              <input name="qsID" type="hidden" value="1617599371">
              <input name="pURI" type="hidden" value="">
            </form>
          </div>
          <!-- .formblock -->
          <script>
            var inputsGroups = document.querySelectorAll('.fields > .field');

            inputsGroups.forEach(inputsGroup => {

              var placeholders = inputsGroup.dataset.placeholder;
              var childs = inputsGroup.children[0];
              childs.setAttribute('placeholder', placeholders);

            });

          </script>
          <!-- <div class="common-form">
                        <div class="fields">
                            <div class="form-group">
                                <input type="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="form-action">
                            <input type="image" src="/application/themes/_imagio_c../img/icons/right-arrow-green.svg" alt="Submit">
                        </div>
                        </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer-wrapper">
  <section class="footer-widgets">
    <div class="custom-container">
      <div class="block-container">
        <div class="block-item">
          <div class="title">
            <p>Get in touch with us</p>
          </div>
          <div class="content">
            <ul>
              <li>P: &nbsp; {{contact.phone}}</li>
              <li>E: &nbsp; {{contact.email}}</li>
              <li>L: Bhagwati bahal,Naxal, Kathmandu</li>
            </ul>
            <div class="social">
              <ul>
                <li>
                  <a href="https://www.facebook.com/wecare.healthcenternp" target="_blank">
                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/wecare.healthcenter/" target="_blank">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block-item">
          <div class="image-container">
            <a [routerLink]="[ '/', '' ]" ><img src="../../../../assets/img/logo_final.png" alt="" width="140" height="123"
                class="ccm-image-block img-responsive bID-251"></a>
          </div>
        </div>
        <div class="block-item">
          <div class="title">
            <p>Get Wecare eCLINIC</p>
          </div>
          <div class="content">
            <p>Download our eCLINIC App to book your appointments at your finger tips</p>
            <ul>
              <li><a [routerLink]="[ '/', '' ]" type="_blank"><img src="../../../../assets/img/logo-google-play.png"></a>
              </li>
              <li><a [routerLink]="[ '/', '' ]" type="_blank"><img src="../../../../assets/img/logo-app-store.png"></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="footer-copyright">
    <div class="custom-container">
      <p>Copyright © 2021 We Care. Website by <a href="http://imagiocreations.com/" target="_blank">Imagio
          Creations</a> </p>
    </div>
  </section>
</footer>
<!---------------------------------- Footer Wrapper Ends ----------------------------------->
