body {
  font-family: "Nunito Sans", sans-serif !important;
  color: #333;
  width: 100%;
}

i {
  ​​​font-family: "FontAwesome";
}

p {
  font-size: 16px;
  line-height: initial;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #009688;
  font-weight: 600;
}
.email-contact a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
  color: #1f449b;
}

.content-section {
  padding: 40px 0px;
  /* background: rgb(80 80 80 / 5%); */
}

.bi-statics,
.management-system-section {
  background-color: rgb(0 0 0 / 4%);
}
.content-title {
  padding-bottom: 00px;
  margin-bottom: 0;
}

.content-title h6 {
  font-size: 24px;
  font-weight: 600;
}

.content-title h2 {
  font-size: 40px;
  font-weight: 800;
  color: #333;
}
.container {
  margin: auto;
}
.content-title span {
  color: #009688;
  font-weight: 700;
  font-size: 65px;
}

.content-title p {
}

.btn-primary {
  border-radius: 50px;
  font-size: 14px;
  padding: 15px 20px;
  /* background-image: linear-gradient(90deg, #009688, #1f449b21); */
  background-color: #009688;
  font-weight: normal;
  border: 1px solid #009688;
  color: #fff;
}

.btn-primary:hover {
  background: #007bff;
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  color: #009688 !important;
}

.text-primary {
  color: #009688 !important;
}

.text-danger {
  color: #dc3545 !important;
}

/* -------------------------------------------
header-part
-------------------------------------------- */
.navbar-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav {
  /* background-color: rgb(255 255 255 / 58%); */
  background: #fff;
}

.navbar-all {
  width: 100%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.page-logo {
  height: 60px;
}

.page-logo img {
  height: 100%;
  object-fit: cover;
}

.header-items {
  justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: #333;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
}

/* -------------------------------------------
body-part hero section
-------------------------------------------- */

.top-message {
  background: #00968824;
  padding: 14px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-message p {
}

.top-message a,
i {
  color: #009688;
}

.lower-header {
  padding-top: 80px;
}

.banner-image {
}

.hero-section {
  padding-top: 120px;
  background-image: url("src/assets/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  height: 90vh;
  /* background-color: #f9f9f9; */
  /* background: url('../img/3x/hero-bg@3x-100.jpg'); */
}

.banner-content h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
}

.banner-content h1 span {
  color: #009688;
}

.banner-content p {
  font-size: 20px;
  font-weight: 600;
}

.banner-content p span i {
  /* color: #009688; */
}

.hero-list {
}

.hero-list ul {
  font-size: 20px;
  font-weight: 600;
  padding-left: 23px;
  list-style: none;
  padding-left: 0px;
}

.hero-list ul li {
  padding: 2px 0px;
  position: relative;
}

.hero-list ul li i {
  font-size: 16px;
}

.hero-list ul li::marker {
  color: #009688;
}

.hero-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 420px;
  padding: 80px;
}

.hero-image img {
  object-fit: cover;
  height: 100%;
}

.hero-signup-form {
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 400px;
  margin: 0 0 0 auto;
}

.hero-signup-form h2 {
  font-size: 23px;
  font-weight: 700;
}

.hero-signup-form h2 span {
  color: #009688;
}

.form-check-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.hero-signup-form .form-group {
  position: relative;
  margin-bottom: 0.6rem;
}

.hero-signup-form .form-group i {
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 14px;
  margin-top: -8px;
  color: #0096889c;
}

.hero-signup-form .form-control {
  padding-left: 36px;
}

.form-control {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  height: 40px;
  font-weight: normal;
  /* border-left: 3px solid #1f449b; */
}

.form-control:focus {
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
}

.email-mobile {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.submit-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-final a {
  font-size: 14px;
}

/* data capturing  */

.data-capturing-img {
  max-width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-capturing-img img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.data-capturing-info {
}

.data-capturing-list {
  border-radius: 10px;
  /* background: rgb(75 255 0 / 5%); */
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  background: #fff;
}

.data-capturing-list i {
  font-size: 25px;
  /* color: #333; */
}

.data-capturing-list i::before {
}

.data-capturing-list h6 {
  font-size: 16px;
  font-weight: 700;
}

.slider {
}

.slider .module-col-list {
}

.slider .module-col-list .module-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slider .module-col-list .module-list span {
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  border-radius: 100px;
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.slider .module-col-list .module-list i {
  font-size: 25px;
}

.slider .module-col-list .module-list h4 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 6px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.slick-dots button {
  font-size: 0px;
  border: none;
  background: transparent;
  width: 15px;
}

.slick-dots li.slick-active::marker {
  color: #009688;
}

.sliding-part {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  display: none;
  width: 100%;
  justify-content: space-between;
  margin-top: -45px;
}

.slider-btn span {
  /* height: 35px;
    width: 35px;
    border-radius: 40px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.slider-btn span:hover {
  cursor: pointer;
}

.slider-btn i {
  color: #737373;
  font-size: 40px;
  font-weight: 300;
  opacity: 0.5;
}

.slider-btn .prev:hover i {
  opacity: 1;
}

.slider-btn .next:hover i {
  opacity: 1;
}

.slider-btn .prev {
  margin-left: -20px;
}

.slider-btn .next {
  margin-right: -20px;
}

/* ----------------------------
management system
--------------------------------- */

.custom-color-1 {
  /* background-image: linear-gradient(90deg, #6655a4, #293c90); */
  background: #293c90;
}

.custom-color-2 {
  /* background-image: linear-gradient(90deg, #f47b20, #f15d26); */
  background: #f15d26;
}

.custom-color-3 {
  /* background-image: linear-gradient(90deg, #29b673, #00a79d); */
  background: #00a79d;
}

.custom-color-4 {
  /* background-image: linear-gradient(90deg, #422636, #939598); */
  background: #939598;
}

.custom-color-5 {
  /* background-image: linear-gradient(90deg, #3caae1, #17548c); */
  background: #17548c;
}

.color-1 {
  color: #293c90;
}

.color-2 {
  color: #f15d26;
}

.color-3 {
  color: #00a79d;
}

.color-4 {
  color: #422636;
}

.color-5 {
  color: #17548c;
}

.management-system-section {
}

.management-system-section .management-system-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.management-system-section .management-system-wrapper .slick-slide {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(0.9);
  border-radius: 5px;
}

.management-system-section .management-system-wrapper .slick-center {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1);
  border-radius: 5px;
}

.management-system-section .management-system-wrapper .slick-center li {
  font-size: 16px !important;
}

.management-system-section .management-system-wrapper .slider-btn {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -45px;
  color: #333;
}

.management-system-section .management-system-wrapper .management-system-list {
  transition: transform 0.8s;
  /* Animation */
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  height: 450px;
  margin: 5px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.management-system-list {
  width: 100%;
}
.management-system-section
  .management-system-wrapper
  .management-system-list
  h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.clients img {
  -webkit-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
}
.management-system-section
  .management-system-wrapper
  .management-system-list
  .function-list {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
}

.management-system-section
  .management-system-wrapper
  .management-system-list
  .management-title {
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.management-system-section
  .management-system-wrapper
  .management-system-list
  .function-list
  ul {
  padding: 0;
  list-style-type: none;
  line-height: 35px;
}

.management-system-section
  .management-system-wrapper
  .management-system-list
  .function-list
  ul
  li {
  list-style: none;
  display: block;
  align-items: center;
}

.management-system-section
  .management-system-wrapper
  .management-system-list
  .function-list
  ul
  li
  i {
  font-size: 12px;
  list-style: none;
  margin-right: 4px;
}

.slick-track {
  overflow: visible;
}

.slick-slide {
  opacity: 0;
}

.slick-active {
  opacity: 1;
}

/* .slick-list{
  overflow: visible ;
} */

/* -----------------------------------
clients
---------------------------------- */

.clients {
  text-align: center;
}

.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients.happy img.fluid {
  width: 100%;
}

.happy-clients-carousel img.img-fluid {
  padding: 25px 10px !important;
}

.clients img.img-fluid {
  display: inline-block;
  padding: 25px;
  height: 120px;
  width: 90%;
  object-fit: contain;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
  background-color: #fff;
}

/* the slides */

.slick-slider {
  overflow: hidden;
}

/* item */

.item {
  padding: 0 9px;
}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
}

/* --------------------------------------
footer
-------------------------------------- */

footer.hamro-danphe-footer {
  padding-top: 50px;
  padding-bottom: 25px;
}

footer.hamro-danphe-footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

footer.hamro-danphe-footer p {
  font-size: 15px;
  margin-bottom: 0;
  line-height: 30px;
}

footer.hamro-danphe-footer .form-control {
  background: #e8f2f3;
  height: 50px;
  border: none;
}

footer.hamro-danphe-footer ul {
  padding-left: 0px;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
}

footer.hamro-danphe-footer li p span {
  font-weight: 700;
  display: block;
  font-size: 13px;
}

footer.hamro-danphe-footer li i {
  margin-right: 10px;
}

footer.hamro-danphe-footer a,
footer.hamro-danphe-footer .bottom-footer p a {
  color: #009688;
  font-weight: 700;
  font-size: 14px;
}

footer.hamro-danphe-footer a i {
  margin-left: 5px;
}

footer.hamro-danphe-footer .bottom-footer {
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding-top: 25px;
}

footer.hamro-danphe-footer .bottom-footer p {
  font-size: 15px;
}

/* responsive */

/* Responsive Css Start */

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1100px) {
  .content-section {
    padding: 50px 0px;
  }

  .banner-content h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .hero-list ul {
    font-size: 20px;
  }

  .lower-header {
    padding-top: 40px !important;
  }

  .hero-section {
    background-size: cover;
    height: auto;
    background-position: -30px;
  }

  .hero-signup-form {
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .management-system-section .container {
    padding: 0;
    margin: 0;
    max-width: 900px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .content-section {
    padding: 30px 0px;
  }

  .content-title {
    padding-bottom: 0px;
  }

  .banner-content h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  .hero-list ul li,
  .hero-list ul li i {
    font-size: 12px;
  }

  .hero-list ul {
    font-size: 16px;
    font-weight: 600;
  }

  .hero-signup-form h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .hero-signup-form {
    padding: 35px 10px 15px 10px;
    margin: 20px 0px;
  }

  .submit-final {
    flex-direction: column;
  }

  .submit-final button {
    margin-bottom: 12px;
  }

  .content-title h6 {
    font-size: 18px;
  }

  .content-title h2 {
    font-size: 23px;
  }

  .slider-btn .prev {
    margin: 0px;
  }

  .slider-btn .next {
    margin: 0px;
  }

  .hero-signup-form-large {
    display: none;
  }

  .hero-signup-form-small {
    display: block;
  }

  .hero-list {
    padding-bottom: 0 !important;
  }

  .btn-primary {
    font-size: 12px;
    padding: 9px 20px;
  }

  .banner-content {
    padding: 30px 0 0 0;
  }

  .email-mobile {
    display: block;
  }

  .email-mobile .mr-2 {
    margin-right: 0 !important;
  }

  .management-system-section .container {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .management-system-wrapper .slick-next,
  .client-wrapper .slick-next,
  .carousel.slider .slick-next {
    margin-left: 95%;
  }
  .management-system-list {
    transition: transform 0.8s;
    box-shadow: 0px 0px 20px rgb(41 41 41 / 5%);
    height: 450px;
    margin: 5px;
    width: 93% !important;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto !important;
    margin-top: 15px !important;
  }
  .carousel.slider .slick-next {
    position: absolute;
    margin-left: 97.5%;
  }
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
