body {
    font-family: 'Muli', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
    overflow-x: hidden;
}
a{
    color:#0db696;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.25;
    color: #363636;
}
h1, .h1 {
    font-size: 4rem;
/*    font-weight: 200;*/
}
h2, .h2 {
    font-size: 3.4rem;
/*    font-weight: 300;*/
}
h3, .h3 {
    font-size: 2.7rem;
    text-transform: capitalize;
}
h4, .h4 {
    font-size: 2.2rem;
}
h5, .h5 {
    font-size: 1.6rem;
/*    font-weight: 400;*/
    color: #444;
    text-transform: capitalize;
}
h6, .h6 {
    font-size: 1rem;
    text-transform: uppercase;
/*    font-weight: 400;*/
    letter-spacing: 2px;
}
::selection {
    color: #fff;
	background-color: #5e53a4;
}
::-moz-selection {
    color: #fff;
	background-color: #5e53a4;
}
mark {
    color: #fff;
}
/* #Preload
================================================== */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999;
}
.loader__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    height: 36px;
    width: 36px;
    box-sizing: border-box;
    border-radius: 50%;
    opacity: .4;
    animation: loaderAnim 0.7s linear infinite alternate forwards;
}
@keyframes loaderAnim {
    to {
        opacity: 1;
        transform: scale3d(0.5, 0.5, 1);
    }
}
/* #Primary style
================================================== */
.section {
    position: relative;
    width: 100%;
    display: block;
}
.subtitle {
    position: relative;
    color: #999;
    display: block;
    font-weight: 500;
    font-size: 18px;
}
.subtitle.with-line:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 1px;
    z-index: 3;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.relative {
    position: relative;
}
.over-hide {
    overflow: hidden;
}
.over-y-scroll {
    overflow-y: scroll;
    z-index: 2099;
}
.full-height {
    height: 100vh;
}
.hero-full-height {
    height: calc(100vh - 140px);
}
.half-height {
    height: 50vh;
}
.big-55-height {
    height: 55vh;
}
.big-60-height {
    height: 60vh;
}
.big-65-height {
    height: 65vh;
}
.big-70-height {
    height: 70vh;
}
.big-75-height {
    height: 75vh;
}
.big-80-height {
    height: 80vh;
}
.max-width-80 {
    max-width: 80%;
}
.background-white {
    background-color: #ffffff;
}
.background-grey {
    background-color: #fbfbfb;
}
.background-grey-1 {
    background-color: #f9f9f9;
}
.background-dark {
    background-color: #181818;
}
.background-dark-1 {
    background-color: #242424;
}
.background-dark-2 {
    background-color: #1b1b1b;
}
.background-black {
    background-color: #000000;
}
.color-black {
    color: #000000;
}
.color-white {
    color: #ffffff;
}
.color-grey {
    color: #e1e1e1;
}
.img-wrap {
    position: relative;
    width: 100%;
    display: block;
}
.img-wrap img {
    width: 100%;
    height: auto;
    display: block;
}
.z-bigger {
    z-index: 10;
}
.z-too-big {
    z-index: 11000;
}
.padding-page-top {
    padding-top: 180px;
}
.padding-top-bottom {
    padding-top: 90px;
    padding-bottom: 90px;
}
.padding-top {
    padding-top: 90px;
}
.padding-bottom {
    padding-bottom: 90px;
}
.padding-top-bottom-big {
    padding-top: 130px;
    padding-bottom: 130px;
}
.padding-top-big {
    padding-top: 130px;
}
.padding-bottom-big {
    padding-bottom: 130px;
}
.padding-top-bottom-small {
    padding-top: 70px;
    padding-bottom: 70px;
}
.padding-top-small {
    padding-top: 70px;
}
.padding-bottom-small {
    padding-bottom: 70px;
}
.padding-top-bottom-smaller {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding-top-smaller {
    padding-top: 50px;
}
.padding-bottom-smaller {
    padding-bottom: 50px;
}
.btn {
    padding: 10px 18px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn:active, .btn:focus {
    border: 0;
    outline: 0;
}
.btn-outline {
	border: 1px solid #fff;
    box-shadow: none;
    outline: none;
    border-radius: 30px;
	display: block;
    width: 120px;
}
.btn-outline:hover {
	background-color: #fff;
	color: #5e53a4;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #070707;
    width: 35px;
    height: 35px;
    z-index: 100000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    cursor: pointer;
    background-image: url('../img/arrow-up.svg');
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.scroll-to-top i {
	width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    color: #fff;
}
.sep-line {
    position: relative;
    width: 100%;
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}
/* #Navigation
================================================== */
#menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 20000;
    margin: 0 auto;
    top: 0;
    left: 0;
}
#menu-wrap .container .columns {
    margin-top: 0;
    margin-bottom: 0;
}
.menu-back {
    background: rgba(21, 21, 21, 0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header {
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink {
    margin-top: 0;
    -webkit-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
    background: rgb(255 255 255 / 100%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .logo {
    height: 50px;
    top: 12px;
    color: #0db696;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
    padding: 30px 0 17px 0;
    color: #212121;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li:hover a {
	color: #41b696;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li {
    margin: 0 12px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li:last-child {
    margin-right: 0;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
    padding: 0;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    width: calc(100% - 20px);
    display: block;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
   width: 190px;
    left: auto;
    padding: 10px;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.cbp-af-header.cbp-af-header-shrink .menu-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-top {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 4;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-top p {
    color: #f1f1f1;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
.lang-wrap {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 10px;
    color: #fff;
    line-height: 20px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 10;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.lang-wrap ul {
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    z-index: 10;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translate3d(0, -15px, 0);
    -moz-transform: translate3d(0, -15px, 0);
    -o-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
}
.lang-wrap.clicked ul {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}
.lang-wrap ul a {
    text-decoration: none;
    color: #212121;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    position: relative;
    display: block;
}
.lang-wrap ul li {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: block;
    margin: 0;
    line-height: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    transition: all 250ms linear;
}
.lang-wrap ul a:hover {
    color: #fff;
}
.social-top {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, .2);
    transition: all 250ms linear;
}
.social-top:hover {
    text-decoration: none;
}
.call-top {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    transition: all 250ms linear;
}
.call-top:hover {
    text-decoration: none;
}
span.call-top:hover {
    color: #fff;
}
.logo {
    position: absolute;
    height: 45px;
    z-index: 10000;
    top: 20px;
    font-size: 30px;
    color: #009688;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.logo img {
    height: 100%;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu-mobile {
    display: none;
padding-top: 30px;
    padding-bottom: 30px;
}
.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    float: right;
    position: relative;
    top: 0;
    color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 0px 10px;
    background: #ffffff;
    color: #5e53a4;
}
.menu {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1110px;
    z-index: 3;
}
.menu > ul {
    margin: 0 auto;
    width: auto;
    float: right;
    list-style: none;
    padding: 0;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}
.menu > ul:before, .menu > ul:after {
    content: "";
    display: table;
}
.menu > ul:after {
    clear: both;
}
.menu > ul > li {
    float: left;
    padding: 0;
    margin: 0 14px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.menu > ul > li a {
text-decoration: none;
    padding: 24px 0;
    display: block;
    font-size: 14px;
    vertical-align: bottom;
    line-height: 20px;
    letter-spacing: 2px;
    color: #000;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.menu > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
}
.menu > ul > li:hover a { color: #009688;}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #009688;
    padding: 60px 50px;
    position: absolute;
    z-index: 99999;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul:before, .menu > ul > li > ul:after {
    content: "";
    display: table;
/*    padding: 5px;*/
}
.menu > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li {
    padding-bottom: 0;
    list-style: none;
    width: 100%;
    background: none;
    float: left;
}
.menu > ul > li > ul > li p {
    padding: 0;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: calc(100% - 20px);
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.menu > ul > li > ul > li p span {
    vertical-align: super;
    font-size: 9px;
    line-height: 9px;
    font-weight: 500;
}
.menu > ul > li > ul > li a {
    padding: 9px 0 !important;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    letter-spacing: 1px;
    display: block;
}
.menu > ul > li a span {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    padding: 8px 16px;
    box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.menu > ul > li a:hover span {
    background-color: #323232;
    color: #fff;
}
.menu > ul > li > ul > li a:hover {}
.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}
.menu > ul > li > ul > li > ul:before, .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}
.menu > ul > li > ul > li > ul:after {
    clear: both;
}
.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}
.menu > ul > li > ul > li > ul > li a {
    border: 0;
}
.menu > ul > li > ul.normal-sub {
    width: 190px;
    left: auto;
    top: 67px;
    padding: 10px;
}
.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}
.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.menu > ul > li > ul.normal-sub > li:hover a {
	color: #5e53a4;
}

@media only screen and (max-width: 1170px) {

    .menu-back {
        background: #009688;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink {
        background: #5e53a4;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .logo {
        height: 50px;
        top: 15px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .menu-top {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .logo {
        font-size: 20px;
        color: #fff;
        height: 50px;
        top: 15px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    #menu-wrap {
        position: relative;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li a {
        padding: 10px 0;
        color: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul > li a {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        color: #000;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: calc(100% - 20px);
        display: block;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul {
        padding-top: 40px;
        padding-bottom: 40px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul {
        padding-top: 40px;
        padding-bottom: 40px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul > li a {
        padding: 10px 0;
        color: #fff;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .menu > ul > li > ul > li a {
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        color: #000;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: calc(100% - 20px);
        display: block;
    }
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul > li > ul {
        padding: 20px 0;
    }
    .menu > ul {
        width: 100%;
        float: none;
        position: relative;
        display: none;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        margin: 3px 0;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        margin: 3px 0;
    }
    .menu > ul > li a {
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
        padding: 0;
		top: 100%;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub {
        width: 100%;
        padding: 0;
    }
    .cbp-af-header.cbp-af-header-shrink .menu > ul > li > ul.normal-sub > li a {
        border: 0;
        padding: 10px 0;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        padding-bottom: 0;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}
/* #Hero center section
================================================== */
.hero-center-section {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -50px;
    z-index: 10000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hero-center-section.ver-2 {
    margin-top: 20px;
}
.hero-center-section.pages {
    margin-top: 40px;
}
.carousel {
    background-color: #fafefd;
}
.carousel-caption {
	left: 9%;
    right: 10%;
	top: 5%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    max-width: 1170px;
    padding: 0;
}
.carousel-caption h4 {
    font-size: 0.9rem;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
}
.carousel-item img {
	height: 100vh;
}
.hero-text {
    color: #333;
    font-size: 2.5vw;
    line-height: 1.2;
    font-weight: 600;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
}
.hero-text b {
    font-weight: 800;
    font-size: 45px;
    color: #009688;
    display: block;
}
.hero-small-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-stars {
    position: relative;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 12px;
}
.hero-stars .fa {
    margin-left: 3px;
    margin-right: 3px;
}

/* #Hero flip slider
================================================== */
a:hover {
    text-decoration: none;
}
button:focus, a:focus {
    outline: none;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}
/* Icons */
.icon {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    fill: currentColor;
}

.nav {
    display: block;
    position: absolute;
    bottom: 43px;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    z-index: 4000;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__button {
    position: relative;
    border: 0;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    line-height: 1;
    background: none;
    z-index: 6000;
}
.nav__button:focus {
    outline: none;
}
.nav__button:hover {}
.nav__button-text {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(35, 35, 35, .8);
    display: block;
    z-index: 6000;
    cursor: pointer;
}
.nav__button-text::after, .nav__button-text::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 20px;
    width: 15px;
    right: 13px;
    background: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav__button-text::after {
    transition: opacity 0.2s, transform 0.2s;
}
.nav--open .nav__button-text::after {
    transform: rotate(90deg);
    opacity: 0;
}
.nav__button-text::before {
    transform: rotate(90deg);
    transition: transform 0.2s;
}
.nav--open .nav__button-text::before {
    transform: rotate(0deg);
}
.toc {
    position: absolute;
    top: calc(-100% - 40px);
    left: 50%;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.nav--open .toc {
    opacity: 1;
}
.toc__item {
    pointer-events: none;
    opacity: 0;
    display: block;
    min-width: 200px;
    margin: 0.15rem 0;
    opacity: 0;
}
.nav--open .toc__item {
    pointer-events: auto;
}
.toc__item-title {
    pointer-events: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.toc__item:hover .toc__item-title {
    color: #999;
}
.arrow-nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4000;
    padding: 1.25rem;
}
.arrow-nav__item {
    pointer-events: auto;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    color: #fff;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.arrow-nav__item--prev {
    visibility: hidden;
}
.arrow-nav__item--prev .icon {
    transform: rotate(180deg);
}
.icon--nav {
    pointer-events: none;
    transition: transform 0.2s;
}
.arrow-nav__item--next:hover .icon--nav {
    transform: translate3d(-2px, 0, 0);
}
.arrow-nav__item--prev:hover .icon--nav {
    transform: rotate(180deg) translate3d(-2px, 0, 0);
}
.nav__chapter {
    font-size: inherit;
    font-weight: normal;
    margin-top: 12px;
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #e6e6e6;
    line-height: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.nav__chapter:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    bottom: -15px;
    left: 50%;
    margin-left: -20px;
    z-index: 2;
}
.nav--open .nav__chapter {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
#poster_background {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: url('../img/wall-bg.jpg')no-repeat bottom left;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.dark-over-video {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5));
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
}
.dark-over-pages {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .4));
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
}
.home-translate {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
}
.home-shadow {
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.6);
}


.form {
    background-color: transparent;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: 2px solid #dbdddc;
    padding: 15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.form-textarea {
    height: 150px;
}

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
.fontawesome-calendar {
    position: absolute;
    top: 26px;
    right: 0;
    font-size: 24px;
    z-index: -99;
}
@-webkit-keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes popup {
    from {
        opacity: 0;
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* #Services
================================================== */
.services-wrap {
    overflow: hidden;
}
.services-wrap img {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.services-wrap:hover img {
    transform: rotate(-2deg) scale(1.1);
}
.process-img{
        width: 85px;
}
.services-text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    padding: 8px 18px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    margin-top: -16px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.services-box {
position: relative;
    width: 100%;
    display: block;
    background-color: #fff;
    box-shadow: 0px 6px 12px #eee;
    padding: 52px 25px;
    border-radius: 10px;
    min-height: 350px;
}
.services-box i {
    display: block;
    margin: 0 auto 30px auto;
    font-size: 2.3rem;
    background-color: #41b696;
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-radius: 50%;
}
.services-box h5 {
	font-size: 1.4rem;
}
.services-box h5 a {
	font-size: 1.3rem;
	font-weight: 600;
	color: #050505;
}


.drop-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
}


.separator-wrap {
    width: 100%;
    min-height: 1px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: no-wrap;
    webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.separator-wrap p {
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.separator {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-width: 10%;
}
.separator-line {
    position: relative;
    height: 1px;
    display: block;
    top: 1px;
    width: 100%;
    border-top: 1px solid #e3e3e3;
}
.opacity-40 {
    opacity: 0.4;
}
.separator-line.med {
    border-top-width: 3px;
}
.separator-line.big {
    border-top-width: 8px;
    border-radius: 2px;
}
.separator-line.dashed {
    border-top-style: dashed;
    outline: none;
}


.form-control {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.75rem;
    font-size: .8rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control:active, .form-control:focus {
    background-color: transparent;
    box-shadow: none;
}
.form-control::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}


.text-opacity {
    opacity: .5;
}


/* #Media
================================================== */
@media (max-width: 1500px) {}
@media (max-width: 1300px) {}
@media (max-width: 1199px) {
    .hero-text {
        font-size: 40px;
    }
}
@media (max-width: 1170px) {
    .slide {
        padding-top: 0;
    }
    .slideshow {
        height: calc(100vh - 132px);
    }
    .hero-full-height {
        height: calc(100vh - 210px);
    }
    h1, .h1 {
        font-size: 3rem;
    }
    h2, .h2 {
        font-size: 2.3rem;
    }
    h3, .h3 {
        font-size: 2rem;
    }
    h4, .h4 {
        font-size: 1.7rem;
    }
    h5, .h5 {
        font-size: 1.2rem;
    }
    h6, .h6 {
        font-size: 0.9rem;
    }
}
@media (max-width: 991px) {
    .hero-text {
        font-size: 30px;
    }
    
    .hero-text-ver-2 {
        font-size: 7vw;
    }
    
}
@media (max-width: 767px) {
    .padding-top-bottom{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .offset-1{
        margin-left: 0px !important
    }
    .hero-center-section{
        position: relative;
            position: relative;
    top: 0;
    transform: inherit;
    }
    section{
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .emmergency-image img{
        max-width: 100%;
        width: 100%;
    }
    .coverage-media .brand-image{
        margin-bottom: 15px;
    }
    .coverage-media .brand-image img, {
        height: 100px;
        width: 100px;
    }
    .section-title{
        font-size: 1.5rem !important;
    }
    .hero-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #fff;
    opacity: 0.9;
}
.section-title-main{
    font-size: 1.5rem !important;
    margin-top: 15px;
}
    .full-height {
    min-height: 100vh;
    max-height: 200vh;
    height: auto;
}
.testimonial .slide{
    margin-top: 40px;
}
    .hero-content-form-wrapper{
        margin-left: 0px !important;
    }
    .hero-text b{
        font-size: 35px;
    }
    .hero-center-section h4 {
    font-size: 0.7rem;
    color: #333;
    letter-spacing: 0;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
    .hero-text {
font-size: 13px;
    line-height: 1.4;
    margin-top: auto;
    text-align: center;
    font-weight: 500;
    }
    
    
}
@media (max-width: 575px) {
   
}
.hero-text-center {
	display: flex;
    height: 100%;
    flex-direction: column;
	
}
.hero-content-form-wrapper {background-color: #009688;padding: 15px;box-shadow: none;position: absolute;top: 13%;max-width: 435px;right: 9%;}
 .hero-content-form-wrapper .inner-form {
	background-color: #fff;
    padding: 20px;
}
.hero-content-form-wrapper h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}
.hero-content-form-wrapper h3 small {
display: block;
    font-size: 1rem;
    color: #009688;
    font-weight: bold;
}
.hero-content-form-wrapper .form-control {
    background-color: #ffffff;
    border: 1px solid #bbb;
    height: 40px;
    border-radius: 3px;
    font-weight: 600;
}
.hero-content-form-wrapper textarea.form-control {
	height: auto;
}
.hero-content-form-wrapper .btn {
	background-color: #0db696;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 15px 15px;
    margin: 15px 0;
}
/*Featured Section Css*/
.featured-section {
	
}
.featured-section h3 {
	text-transform: none;
    font-size: 2.5rem;
    font-weight: 600;
}
  p{
    font-weight: 500;
    margin-bottom: 25px;
  }
  .section-title-main{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
.control-label {
    font-size: 0.85rem;
    font-weight: 400;
}
  .sub-heading{
font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 25px !important;
  }
  section.contact-us, section.coverage-media, section.team, section.home-isolation{
    background-color: #f5f7f9;
    padding: 80px 0;
  }
  .text-primary{
    color: rgb(94 83 164);
  }
  .btn-primary{
    background-color: #0db696;
    border: 1px solid #0db696;
    padding: 15px 25px;
      border-radius: 20px;
      font-weight: 500;
  }
  .btn-primary:hover, .btn-primary:focus{
    background-color: #009688;
    border: 1px solid #009688;
    padding: 15px 25px;
      border-radius: 20px;
      font-weight: 500;
  }
  .form-control{
    background: #fff;
    border: none;
      box-shadow: none;
      height: 45px;
      border-radius: 0px;
  }
  .section-title{
font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 25px;
  }
.contact-widget-section2 p {
    font-size: 0.85rem;
    font-weight: 300;
    margin-bottom: 25px;
}
  .office-sec{
    font-weight: 600;
    margin: 15px auto;
  }
  .find-widget{
    font-weight: 500;
    margin: 7px auto;
  }
  .mt-5{
    margin-top: 5rem;
  }
  section{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .coverage-media .brand-image{
        height: 180px;
    background: #f5f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team-img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }
  .d-block{
    display: block;
  }
  .mb-1{
    margin-bottom: 1rem;
  }
  ul.list-feature li{
list-style: none;
    font-weight: 600;
    color: #333;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.85rem;
  }
  .list-feature li span{
height: 25px;
    width: 25px;
    background: #0db696;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 0;
    padding: 10px;
    font-size: 13px;
    border-radius: 100%;
    color: #fff !important;
  }
  .text-primary{
    color:#0db696 !important;
  }
  footer ul{
    padding-left: 0;
  }
  footer ul li i{margin-right: 7px;}
  footer{
    background-color: #197765;
        padding: 40px 20px 0 20px;
    color: #fff;
  }
  footer h3 {
font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}
footer p {
font-size: 11px;
    margin-bottom: 10px;
    color: #fff;
}
footer ul.contact {
    background: url(../img/world-map-dotted.png) no-repeat;
    background-size: 100%;
    padding-left: 0;
}
footer a {
    color: #fff;
    display: inline-block;
}
footer ul.contact li {
    list-style: none;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
    font-size: 11px;
    font-weight: 300;
}
.bottom-footer p{
    margin-bottom: 0;
}
  footer .subscribe form .form-group .form-control{
    background-color: #fff;
  }
  .bottom-footer {
    border-top: 1px solid #009688;
}
ul.list-feature{
  padding-left: 0
}
.frontside .card{
  background-color: transparent;
  border: none;
}
.frontside .card .card-title{
  font-size: 1.2rem;
    font-weight: 500;
}
.coverage-media .brand-image img, .emmergency-image img{
  max-width: 100%;
}
p{
        font-size: 0.875rem;
    font-weight: 500;
    color: #363636;
	line-height: 2;
}
.section-title-main strong, .section-title strong{
    font-weight: 700 !important;
}
.modal-backdrop{
    z-index: 99999;
}
.modal{
    z-index: 999999;
}
.testimonial_subtitle{
    margin-bottom: 15px;
}
.carousel-indicators {
	bottom: 10px;
}
.carousel-indicators .active {
    background-color: #0db696;
}
.carousel-indicators li {
    background-color: rgb(0 0 0 / 31%);
}